body{
    margin: 0;
    padding-top: 80px;
    background-color: #081C2B;
    font-family: Rubik, sans-serif;

}


.book-card {
    width: calc(15% - 20px); /* Ancho de la tarjeta, la mitad del espacio disponible menos los márgenes */
    max-width: calc(15% - 20px); /* Ancho máximo de la tarjeta para que haya 3 tarjetas por fila */
    margin: 10px;
    border: 1px solid #0F2E47;
    border-radius: 5px;
    
    font-family: Rubik, sans-serif;
    color:  white;
    display: flex;
    flex-direction: row;
    position: relative; /* Para poder posicionar el precio de forma absoluta */
}

.book-card img {
    width: 100%;
    height: 280px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajustar la imagen manteniendo la proporción y cubriendo el contenedor */
    border-radius: 5px;
    margin-bottom: 10px;

}

.fount-download {
    background-color: #008CBA;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


